* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}